.fc-scrollgrid {
    border: none !important;
}

.fc-theme-standard td, .fc-theme-standard th {
    border: none !important;
}

.fc-scrollgrid-sync-inner {
    text-align: start !important;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: #e2e8f0;
}